body {
    font-family: Gilroy;
    color: #303030;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}


.container-width1110 {
    max-width: 1110px;
    margin: 0 auto;
}


.elevator-services {
    display: flex;
    gap: 64px;
    margin-top: 50px;
}

.elevator-services_img {
    max-width: 445px;
    width: 100%;
    min-height: 252px;
    object-fit: cover;
    border-radius: 20px;
}

.elevator-services_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elevator-services_header {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
}

.elevator-services_description {
    max-width: 601px;
    color: #757985;
    font-size: 16px;
    line-height: 24px;
}


@media (max-width: 768px) {
    .container-width1110 {
        max-width: 318px;
    }


    .elevator-services {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 40px;
    }

    .elevator-services_img {
        max-width: 445px;
        max-height: 252px;
        flex-shrink: 0;
        border-radius: 20px;
    }

    .elevator-services_text {
        gap: 16px;
    }

    .elevator-services_header {
        font-size: 24px;
        line-height: 32px;
    }

    .elevator-services_description {
        color: #757985;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

}