.portfolio-slider-wrapper{
    display: grid;
    grid-template-columns: 100%;
}
.portfolio-slider_nav-btn{
    grid-area: 1/1;
    height: 100%;
    width: 85px;
    backdrop-filter: blur(5px);
    z-index: 2;
    background: transparent;
    border: none;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNzIyIDQuMjkzYy0uMzk0LS4zOS0xLjAzMi0uMzktMS40MjcgMC0uMzkzLjM5LS4zOTMgMS4wMyAwIDEuNDJsMTEuMjgzIDEwLjI4LTExLjI4MyAxMC4yOWMtLjM5My4zOS0uMzkzIDEuMDIgMCAxLjQyLjM5NS4zOSAxLjAzMy4zOSAxLjQyNyAwbDEyLjAwNy0xMC45NGMuMjEtLjIxLjMtLjQ5LjI4NC0uNzcuMDE0LS4yNy0uMDc2LS41NS0uMjg2LS43NkwxMC43MiA0LjI5M3oiIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
.portfolio-slider_nav-btn.prev{
    justify-self: flex-start;
    transform: scale(-1,1);
}
.portfolio-slider_nav-btn.next{
    justify-self: flex-end;
}
.portfolio-slider{
    grid-area: 1/1;
}
.portfolio-slide{
    height: 390px;
    object-fit: cover;
}