.concrete-work {
    max-width: 1234px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    padding: 40px 62px 50px 62px;
    border-radius: 40px;
    background: #F1F8FF;
}

.concrete-work_description {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.concrete-work_data {
    padding: 10px 19px;
    border-radius: 99px;
    background: #FFF;
    width: max-content;

    color: #3B8AF0;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
}

.concrete-work_title {
    padding-bottom: 32px;

    max-width: 463px;
    color: #303030;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.concrete-work_des-item {
    display: flex;
    gap: 17px;

    color: #303030;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.concrete-work_des-item span {
    color: #3B8AF0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.concrete-work_btn-wrapper {
    margin-top: 32px;
    display: grid;
    align-items: center;
    grid-template-areas:
            "a b b b"
            "a c c c";
    gap: 14px;
    margin-left: -27px;
}

.concrete-work_btn-wrapper:before {
    grid-area: a;
    display: block;
    content: '';
    width: 14px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='55' viewBox='0 0 17 55' fill='none'%3E%3Cpath d='M14.3496 2.511C14.6073 2.61009 14.7359 2.89936 14.6368 3.15712L13.0221 7.35742C12.923 7.61517 12.6337 7.74379 12.376 7.6447C12.1182 7.54561 11.9896 7.25633 12.0887 6.99858L13.524 3.26498L9.79043 1.82963C9.53268 1.73054 9.40406 1.44126 9.50315 1.18351C9.60224 0.925759 9.89151 0.797139 10.1493 0.896229L14.3496 2.511ZM15.5239 54.2435C9.63503 48.4802 3.06564 38.3717 1.03303 28.3057C0.0152534 23.2654 0.128218 18.2004 2.07244 13.6921C4.02119 9.1734 7.78634 5.26891 13.967 2.52082L14.3733 3.43457C8.38912 6.09529 4.82641 9.83148 2.99069 14.0881C1.15044 18.3553 1.02231 23.2004 2.01324 28.1077C3.99804 37.937 10.4452 47.8739 16.2234 53.5288L15.5239 54.2435Z' fill='%23BEBEBE'/%3E%3C/svg%3E");
}

.concrete-work_btn-get-personal-offer {
    grid-area: b;
    border-radius: 10px;
    background: #ED4646;
    padding: 23px 43px;
    width: max-content;
    text-decoration: none;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.concrete-work_sub-title {
    grid-area: c;
    color: #717171;

    font-size: 12px;
    line-height: 14px;
}

.concrete-work_img {
    max-width: 540px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (max-width: 992px) {
    .concrete-work {
        flex-direction: column-reverse;
    }

    .concrete-work_img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .concrete-work {
        max-width: 290px;
        padding: 20px;
        border-radius: 20px;
        gap: 16px;
    }

    .concrete-work_description {
        gap: 16px;
    }

    .concrete-work_data {
        padding: 2px 13px;

        font-size: 12px;
        font-weight: 600;
    }

    .concrete-work_title {
        padding-bottom: 10px;

        font-size: 24px;
        line-height: 30px;
    }

    .concrete-work_des-item {
        flex-direction: column;
        gap: 4px;

        font-size: 14px;
        line-height: 22px;
    }

    .concrete-work_des-item span {
        font-size: 14px;
        line-height: 20px;
    }

    .concrete-work_btn-wrapper {
        margin-top: 10px;
        margin-left: -28px;
        margin-right: -10px;
        row-gap: 10px;
        column-gap: 8px;
    }

    .concrete-work_btn-wrapper:before {
        width: 10px;
        height: 34px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='33' viewBox='0 0 11 33' fill='none'%3E%3Cpath d='M9.20877 1.94408C9.46652 2.04317 9.59514 2.33245 9.49605 2.5902L7.88129 6.7905C7.7822 7.04825 7.49292 7.17687 7.23517 7.07778C6.97742 6.97869 6.8488 6.68941 6.94789 6.43166L8.38324 2.69806L4.64963 1.26271C4.39188 1.16362 4.26326 0.874345 4.36235 0.616594C4.46144 0.358842 4.75072 0.230222 5.00847 0.329312L9.20877 1.94408ZM9.68077 32.6866C6.19708 29.2772 2.31112 23.3011 1.10672 17.3366C0.503044 14.3471 0.566307 11.3251 1.73034 8.62592C2.8989 5.91627 5.15338 3.58694 8.82622 1.95391L9.23249 2.86766C5.75616 4.41332 3.70413 6.57435 2.64859 9.02192C1.58853 11.48 1.51011 14.2821 2.08693 17.1387C3.24352 22.8664 7.00729 28.6709 10.3802 31.9719L9.68077 32.6866Z' fill='%23BEBEBE'/%3E%3C/svg%3E");
    }

    .concrete-work_btn-get-personal-offer {
        padding: 14px 25px;
        border-radius: 10px;

        font-size: 12px;
    }

    .concrete-work_sub-title {
        font-size: 12px;
        line-height: 14px;
    }

    .concrete-work_img {
        border-radius: 20px;
        margin: -20px -20px 0 -20px;
        max-width: max-content;
        width: unset;
    }
}