body {
    font-family: Gilroy !important;
}

.maxwidth-1110px {
    max-width: 1110px;
    margin: auto;
}


.breadcrumb_block {
    display: flex;
}

.breadcrumb_block .breadcrumbs {
    background: unset;
    margin: 0;
    margin-top: 27px;
}

.header-container {
    color: #444;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 40px;
}

.product-container {
    display: flex;
    gap: 66px;
    margin-top: 32px;
}

.product-container .right_box {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.product-container .right_box .top_box {
    display: flex;
    gap: 9px;
}

.product-container .right_box .top_box .vertical-slider {
    width: 94px;
    height: 366px;
    overflow: hidden;
}

.product-container .right_box .top_box .swiper-slide {
    padding: 0;
    margin: 0;
}

.product-container .right_box .top_box .vertical-slider .swiper-vertical__img {
    width: 94px;
    height: 117px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.product-container .right_box .top_box .horizontal-slider {
    width: 436px;
    height: 366px;
    position: relative;
}

.product-container .right_box .top_box .swiper-horizontal {
    overflow: hidden;
}

.product-container .right_box .top_box .horizontal-slider .horizontal-slider__img {
    width: 434px;
    height: 366px;
    border-radius: 10px;
    object-fit: cover;
}

.swiper-horizontal-button {
    width: 46px;
    height: 46px;
    background: #ED4646;
    position: absolute;
    z-index: 99;
    border-radius: 50px;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-horizontal-button-prev {
    left: -23px;
}

.swiper-horizontal-button-prev::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M6.70508 11.4119L1.29331 6.0001L6.70508 0.588336' stroke='white' stroke-width='1.35294'/%3E%3C/svg%3E");
    display: block;
    width: 6px;
    height: 10px;
}

.swiper-horizontal-button-next {
    right: -23px;
}

.swiper-horizontal-button-next::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M1.29492 0.588135L6.70669 5.9999L1.29492 11.4117' stroke='white' stroke-width='1.35294'/%3E%3C/svg%3E");
    display: block;
    width: 6px;
    height: 10px;
}

.swiper-vertical {
    width: 94px;
    height: 117px;
}

.swiper-horizontal {
    width: 436px;
    height: 366px;
}

.product-container .right_box .bottom_box {
    display: flex;
    gap: 23px;
    max-width: 540px;
    height: 122px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FAFAFA;
    align-items: center;
    width: 100%;
    padding: 29px;
}

.product-container .right_box .bottom_box > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    background: #3B8AF0;
    border-radius: 50px;
}

.product-container .right_box .bottom_box p {
    color: #444;
    max-width: 401px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

.product-container .right_box .bottom_box p span {
    color: #444;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.product-container .left_box {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.product-container .left_box .col_1 {
    color: #444;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-container .left_box .col_2 > div {
    display: flex;
    max-width: 380px;
    min-height: 25px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.product-container .left_box .col_2 > div .part_1 {
    color: #A7A7A7;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_2 > div .part_2 {
    color: #444;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}

.product-container .left_box .col_3 {
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-container .left_box .line_item {
    max-width: 380px;
    height: 2px;
    flex-shrink: 0;
    stroke-width: 1px;
    background: #E5E5E5;
}

.product-container .left_box .col_4 {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.product-container .left_box .col_4 .box_1 {
    display: flex;
    flex-direction: column;
}

.product-container .left_box .col_4 .box_1 {
    width: 190px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3B8AF0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 14px 19px;
}

.product-container .left_box .col_4 .box_1 .part_1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_4 .box_1 .part_1 span {
    display: none;
}

.product-container .left_box .col_4 .box_1 .part_2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_4 .box_2 {
    display: flex;
    gap: 36px;
}

.product-container .left_box .col_4 .box_2 > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-container .left_box .col_4 .box_2 > div .part_1 {
    color: #3B8AF0;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_4 .box_2 > div .part_2 {
    color: #444;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_4 .box_2 > div .part_3 {
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.product-container .left_box .col_4 .box_3 {
    display: flex;
    gap: 10px;
}

.product-container .left_box .col_4 .box_3 .part_1 {
    display: inline-flex;
    height: 56px;
    padding: 23px 43px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ED4646;

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.product-container .left_box .col_4 .box_3 .part_2 {
    display: inline-flex;
    height: 56px;
    padding: 23px 43px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E6F2FE;

    color: #3B8AF0;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.733px;
}

.product-container .left_box .col_5 {
    display: none;
}


.product-data-container {
    max-width: 100%;
    flex-shrink: 0;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
}

.product-data-container__content {
    max-width: 1110px;
    min-height: 199px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}

.product-data-container__content .right-box {
    padding: 43px 40px;
    display: flex;
    gap: 22px;
    flex-direction: column;
    border-right: solid 1px #E5E5E5;
}

.product-data-container__content button {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    border: none;
    padding: 0;
    background: unset;
    text-align: inherit;
    width: max-content;
}

.product-data-button {
    color: #3B8AF0 !important;
}

.product-data-text-content-pc {
    display: block !important;
}

.product-data-container__content .left_box {
    width: 100%;
    padding: 43px 40px;
    display: flex;
    align-self: center;
}

.product-data-container__content [data-features-box-pc] {
    display: none;
}

.product-data-container__content [data-description-box-pc] {
    display: none;
}

.product-data-container__content [data-payment-delivery-box-pc] {
    display: none;
}

.product-data-container__content [data-features-box-mobile] {
    display: none;
}

.product-data-container__content [data-description-box-mobile] {
    display: none;
}

.product-data-container__content [data-payment-delivery-box-mobile] {
    display: none;
}

.product-data-container__content .left_box div {
    color: #68687D;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.block_container__2_mobil {
    display: none;
}

.contacts-block {
    display: none !important;
}

.question-and-answer-block {
    display: none !important;
}

.question-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 91px;
    max-width: 1110px;
    width: 100%;
    display: flex;
    gap: 30px;
}

.question-block .left-box {
    border-radius: 10px;
    background: #3B8AF0;
    padding: 40px 6px 40px 40px;
    color: #FFF;
}
.question-block .left-box .core-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
}
.question-block .left-box .core-title .br-1  {
    display: none;
}
.question-block .left-box .core-title .br-2  {
    display: block;
}
.question-block .left-box .avatar-box {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 14px;
}
.question-block .left-box .avatar-box img {
    width: 79px;
    height: 79px;
    border-radius: 79px;
}
.question-block .left-box .avatar-box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.question-block .left-box .order-button {
    margin-top: 40px;
    display: flex;
    width: 252px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #303030;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.question-block .left-box .hidden-contact-box {
    display: none;
}

.core-title-hidden {
    display: none;
}


/*mobil ***********************************/

@media (max-width: 1240px) {
    .maxwidth-1110px {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media (max-width: 768px) {
    .maxwidth-1110px {
        max-width: 318px;
        margin: auto;
    }

    .header-container {
        flex-shrink: 0;
        color: #444;
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        margin-top: 30px;
    }

    .product-container .right_box .bottom_box {
        display: none;
    }

    .product-container {
        flex-direction: column;
        margin-top: 30px;
        gap: 45px;
    }

    .product-container .left_box {
        gap: 20px;
    }

    .product-container .right_box .top_box .vertical-slider {
        display: none;
    }
    .product-container .right_box .top_box .horizontal-slider {
        width: 290px;
        height: 210px;
    }
    .product-container .right_box .top_box .swiper-horizontal {
        height: 100%;
        width: 100%;
    }

    .swiper-horizontal-button {
        width: 24px;
        height: 24px;
    }
    .swiper-horizontal-button-next {
        right: -12px;
    }
    .swiper-horizontal-button-prev {
        left: -12px;
    }

    .product-container .right_box .top_box .horizontal-slider .horizontal-slider__img {
        width: 288px;
        height: 208px;
    }

    .product-container .left_box .col_1 {
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
    }

    .product-container .left_box .col_2 > div .part_1 {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }

    .product-container .left_box .col_2 > div .part_2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
    }

    .product-container .left_box .col_3 {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }

    .product-container .left_box .col_4 .box_1 {
        flex-direction: row;
        width: 290px;
        height: 65px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #3B8AF0;
        background: unset;
        gap: 6px;
    }

    .product-container .left_box .col_4 .box_1 .part_1 {
        color: #444;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .product-container .left_box .col_4 .box_1 .part_1 span {
        display: block;
    }

    .product-container .left_box .col_4 .box_1 .part_2 {
        color: #444;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
    }

    .product-container .left_box .col_4 .box_2 > div .part_1 {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }

    .product-container .left_box .col_4 .box_2 > div .part_2 {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
    }

    .product-container .left_box .col_4 .box_2 > div .part_3 {
        font-size: 12px;
        font-weight: 400;
        line-height: normal
    }

    .product-container .left_box .col_4 .box_3 {
        flex-direction: column;
    }

    .product-container .left_box .col_4 .box_3 .part_1 {
        height: 50px;
        padding: 23px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 10px;

        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        width: max-content;
    }

    .product-container .left_box .col_4 .box_3 .part_2 {
        height: 50px;
        padding: 23px 42px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #E6F2FE;

        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        width: max-content;
    }

    .product-container .left_box .col_5 {
        display: flex;
        width: 290px;
        height: 90px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FAFAFA;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .product-container .left_box .col_5 > div {
        width: 40px;
        height: 40px;
        background: #3B8AF0;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-container .left_box .col_5 > div svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }

    .product-container .left_box .col_5 > p {
        width: 180px;
        color: #444;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    .product-container .left_box .col_5 > p span {
        color: #444;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
    }

    .product-data-container__content {
        margin: 0;
        padding: 0;
        border: none;
        max-width: 290px;
    }

    .product-data-container__content .right-box {
        padding: 0;
        border: none;
    }

    .product-data-container__content button {
        font-size: 14px;
    }

    .product-data-container__content [data-features-box-pc] {
        display: none;
    }

    .product-data-container__content [data-description-box-pc] {
        display: none;
    }

    .product-data-container__content [data-payment-delivery-box-pc] {
        display: none;
    }

    .product-data-container__content [data-features-box-mobile] {
        display: none;
        font-size: 12px;
        color: #68687D;
    }

    .product-data-container__content [data-description-box-mobile] {
        display: none;
        font-size: 12px;
        color: #68687D;
    }

    .product-data-container__content [data-payment-delivery-box-mobile] {
        display: none;
        font-size: 12px;
        color: #68687D;
    }

    .product-data-text-content-mobile {
        display: block !important;
    }

    .product-data-container__content .left_box {
        display: none;
    }


    .block_container__2_mobil {
        display: flex;
        flex-direction: column;
        margin-top: 71px;
    }

    .block_container__2_mobil > div {
        padding-right: 14px;
        padding-left: 14px;
    }

    .block_container__2_mobil > div button {
        display: flex;
        background: unset;
        border: none;
        border-bottom: solid 1px #EDEDED;
        width: 100px;

        color: #444;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
    }

    .block_container_3 .product-showcase{
        padding-left: 0;
        padding-right: 0;
    }

    .question-block {
        flex-direction: column;
        margin-top: 60px;
    }
    .question-block .left-box {
        padding: 30px 13px 30px 30px;
    }
    .question-block .left-box .core-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
    }
    .question-block .left-box .core-title .br-1  {
        display: block;
    }
    .question-block .left-box .core-title .br-2  {
        display: none;
    }

    .question-block .left-box .avatar-box {
        flex-direction: column;
        align-items: baseline;
        margin-top: 20px;
    }
    .question-block .left-box .avatar-box img {
        width: 64px;
        height: 64px;
        border-radius: 64px;
    }
    .question-block .left-box .avatar-box p {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-top: 8px;
    }
    .question-block .left-box .order-button {
        margin-top: 30px;
        width: 220px;
        height: 50px;
        border-radius: 10px;
    }

    .question-block .left-box .hidden-contact-box {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 17px;
    }
    .question-block .left-box .hidden-contact-box p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    .question-block .left-box .hidden-contact-box a {
        color: #FFF;
        font-size: 28px;
        font-weight: 700;
        line-height: 22px;
    }

    .question-block .core-title-hidden {
        display: block;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }

    .question-block .accordion_wrapper {
        margin-top: 28px;
    }

}