body {
    font-family: Gilroy;
    color: #303030;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}


.container-width1110 {
    max-width: 1110px;
    margin: 0 auto;
}


.elevator-services {
    display: flex;
    gap: 64px;
}

.elevator-services_img {
    max-width: 445px;
    max-height: 252px;
    flex-shrink: 0;
    border-radius: 20px;
}

.elevator-services_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elevator-services_header {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
}

.elevator-services_description {
    color: #757985;
    font-size: 16px;
    line-height: 24px;
}