body {
    font-family: Gilroy;
    color: #303030;
}

p {
    margin: 0;
}

a {
    text-decoration: unset;
    color: unset;
}


.container-width1110 {
    max-width: 1110px;
    margin: 0 auto;
}


.cars-you-will-need {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cars-you-will-need_header {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px
}

.cars-you-will-need_items-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    row-gap: 40px;
}

.cars-you-will-need_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #EDEDED;
    background: #FFF;
    max-width: 350px;
    width: 100%;
}

.cars-you-will-need_img {
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    max-height: 197px;
}

.cars-you-will-need_description {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 0 25px 22px 25px;
    color: #303030;
}


.cars-you-will-need_swiper {
    width: 100%;
    height: 100%;
    display: none;
}

.cars-you-will-need_swiper-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

.cars-you-will-need-swiper_swiper-button-prev,
.cars-you-will-need-swiper_swiper-button-next {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid 1px #ED4646;
}

.cars-you-will-need-swiper_swiper-button-prev:after,
.cars-you-will-need-swiper_swiper-button-next:after {
    display: block;
    width: 6px;
    height: 11px;
    content: '';
}

.cars-you-will-need-swiper_swiper-button-prev {
    background: #FFF;
}

.cars-you-will-need-swiper_swiper-button-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M6.70508 12L1.29331 6.58824L6.70508 1.17647' stroke='%23ED4646' stroke-width='1.35294'/%3E%3C/svg%3E");
}

.cars-you-will-need-swiper_swiper-button-next {
    background: #ED4646;
}

.cars-you-will-need-swiper_swiper-button-next:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M1.29492 1L6.70669 6.41176L1.29492 11.8235' stroke='white' stroke-width='1.35294'/%3E%3C/svg%3E");
}


@media (max-width: 768px) {
    .container-width1110 {
        max-width: 318px;
    }


    .cars-you-will-need {
        margin-top: 60px;
        gap: 25px;
    }

    .cars-you-will-need_header {
        font-size: 24px;
        line-height: 30px;
    }

    .cars-you-will-need_items-wrapper {
        display: none;
        max-width: 100%;
    }


    .cars-you-will-need_swiper {
        display: block;
    }
}